@use '../sass-utils/' as *;

.course {
  background: rgba($color: #000, $alpha: 0.7);
  background-image: url("../img/bg-courset.png");
  background-repeat: repeat;
  padding: 50px 20px;
  min-height: 40vh;

  @media (min-width: 768px) {
    text-align: center;
  }

  hr {
    width: 15%;
  }

  h2 {
    @include lat-tx(20px, 500, 24px);

    text-align: center;
    color: white;
  }

  p.see-all {
    color: white;

    @include lat-tx(25px,600,24px);
  }

  ul {
    margin: 25px 0 25px 0;

    @include layout(column,center,center);

    gap: 10px;

    li {
      padding: 12px;

      @include layout(row, center ,center);

      background: rgba($color: #fff, $alpha: 0.3);
      gap: 12px;

      @media (min-width: 768px) {
        height: 305px;
        max-width: 400px;
      }

      h3 {
        color: $dark-red;
      }

      p {
        color: white;
      }

      img {
        width: 38px;
        height: 38px;
        flex-basis: 30%;
      }
    }
  }
}
