@use '../sass-utils/' as *;

.course {
  background: rgba($color: #000, $alpha: 0.7);
  background-image: url("../img/bg-courset.png");
  background-repeat: repeat;
  padding: 50px 20px;

  h2 {
    @include lat-tx(20px, 500, 24px);

    text-align: center;
    color: white;
  }

  ul {
    margin: 25px 0 25px 0;

    @include layout(column,center,center);

    gap: 10px;

    li {
      padding: 12px;

      @include layout(row, center ,center);

      background: rgba($color: #fff, $alpha: 0.3);
      gap: 12px;

      h3 {
        color: $dark-red;
      }

      p {
        color: white;
      }

      img {
        width: 38px;
        height: 38px;
        flex-basis: 30%;
      }
    }
  }
}
