@use '../sass-utils/' as *;
.speakers {
    @include lat-tx(20px,500,24px);
    color: $dark-grey;
    padding: 50px 20px 50px 20px;
    h2{
        text-align: center;
        font-weight: 500;
    }
    h3{
        font-weight: 700;
        font-size: 16px;
    }

    ul {
        @include layout(column, center, center);
        gap: 10px;
        li {
            @include layout(row,flex-start,center);
            gap:25px;
            padding:10px;
           
            img{
                width: 100px;
                height: 100px;
                
            }
            
            .bg-square {
                position: relative;
            }

            .bg-square::after { 
                content: url('../img/square-bg.png');       
                position: absolute; 
                z-index:-1;
                bottom:12px;
                left:-14px; 
                width:90%;
                height:90%; 
                background: linear-gradient(red, firebrick); 
            }

            .description {
                p{
                    font-size: 12px;
                    margin:0;
                    line-height: 15px;
                }
                hr {
                    width: 10%;
                    margin-inline: 0;
                    margin: 0;
                    color: $light-grey;
                }
                p:first-of-type{
                    color: $dark-red;
                    font-size: 12px;
                    margin: 5px 0;
                    font-style: italic;

                }
            }
        }
    }
}