@media (min-width: 768px) {
  .pr1 {
    padding-right: 1em;
  }

  .pr2 {
    padding-right: 2em;
  }

  .pr3 {
    padding-right: 3em;
  }

  .pr4 {
    padding-right: 4em;
  }

  .pr5 {
    padding-right: 5em;
  }

  .pr6 {
    padding-right: 6em;
  }

  .pr7 {
    padding-right: 7em;
  }

  .pr8 {
    padding-right: 8em;
  }

  .pr9 {
    padding-right: 9em;
  }

  .pl1 {
    padding-left: 1em;
  }

  .pl2 {
    padding-left: 2em;
  }

  .pl3 {
    padding-left: 3em;
  }

  .pl4 {
    padding-left: 4em;
  }

  .pl5 {
    padding-left: 5em;
  }

  .pl6 {
    padding-left: 6em;
  }

  .pl7 {
    padding-left: 7em;
  }

  .pl8 {
    padding-left: 8em;
  }

  .pl9 {
    padding-left: 9em;
  }
}
